.twitte
  .twitte_main
    .user_img
      = image_tag "default.png", class: "default_img"
    .user_date
      %h2 ニックネーム
      .user_name
        %p ユーザーネーム
      .user_profile
        %p プロフィールです。プロフィールです。プロフィールです。プロフィールです。プロフィールです。プロフィールです。プロフィールです。