.twitte
  .twitte.message
    .user_img_message
      = image_tag "default.png", class: "default_img_mesaage"
    .user_date_mesaage
      .user_date2
        %h2 ニックネーム
        .user_name2
          %h3 ユーザーネーム
      .message
        %h4 文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。

    .twitte.message
    .user_img_message
      = image_tag "default.png", class: "default_img_mesaage"
    .user_date_mesaage
      .user_date2
        %h2 ニックネーム
        .user_name2
          %h3 ユーザーネーム
      .message
        %h4 文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。

    .twitte.message
    .user_img_message
      = image_tag "default.png", class: "default_img_mesaage"
    .user_date_mesaage
      .user_date2
        %h2 ニックネーム
        .user_name2
          %h3 ユーザーネーム
      .message
        %h4 文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。文章です。
        